/* variables */
:root {
  --rich-black: #004040;
  --text-on-dark: rgba(255, 255, 255, 0.75);
  --text-on-light: rgba(0, 0, 0, 0.75);
  --primary: #43c298;
  --primary-dark: #3ab28a;
  --primary-darker: #27785d;
  --primary-light: #6acead;
  --primary-lighter: #90dbc2;
  --complement: #c2436d;
  --analogous-a: #43c259;
  --analogous-b: #43adc2;
  --splitcomp-a: #c25943;
  --splitcomp-b: #c243ad;
  --gray-dark: #a4a4a4;
  --gray: #f0f0f0;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  color: var(--rich-black);
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
#root,
html,
body {
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}
a:hover {
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
}

/* Grid assets */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 0 0; /* footer height */
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.container-reading {
  max-width: 960px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

.row,
.column {
  float: left;
  box-sizing: border-box;
}
.row {
  padding: 1em;
  width: 100%;
  clear: both;
}

.column {
  padding: 1em;
}

.half {
  width: 50%;
}

.third {
  width: 33.3%;
}
.twothirds {
  width: 66.6%;
}

.fourth {
  width: 25%;
}
.threefourths {
  width: 75%;
}

.fifth {
  width: 20%;
}
.twofifths {
  width: 40%;
}

.threefifths {
  width: 60%;
}

.fourfifths {
  width: 80%;
}

.sixth {
  width: 16.66%;
}
.fivesixths {
  width: 83.3%;
}
/* End grid assets */

/* Alignment Assets */

.flushleft {
  padding-left: 0;
  margin-left: 0;
}

.flushall {
  margin: 0;
  padding: 0;
}

.flushright {
  padding-right: 0;
  margin-right: 0;
}

.flushtop {
  padding-top: 0;
  margin-top: 0;
}

.flushbottom {
  padding-bottom: 0;
  margin-bottom: 0;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.center {
  text-align: center;
}

.rjust {
  text-align: right;
}

.ljust {
  text-align: left;
}

.ucstr {
  text-transform: uppercase;
}

.centerinline {
  vertical-align: middle;
}

.inlineblock {
  display: inline-block;
}

/* End Alignments*/

/* Type */
.regular {
  font-weight: 400;
}
html {
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
footer {
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-darker);
}

.big {
  font-size: 125%;
}

.bigger {
  font-size: 200%;
}

.biggest {
  font-size: 250%;
}

.small {
  font-size: 87.5%;
}

.smaller {
  font-size: 75%;
}

.smallest {
  font-size: 62.5%;
}

.full-width {
  display: block;
  width: 100%;
}
/* End Type */

/* Forms */
.form-group {
  display: block;
  padding: 0.5em 0;
}
input {
  display: block;
  width: 100%;
  padding: 10px;
}

.pinned-content {
  position: relative;
}

.pin {
  position: absolute;
}
.pin-right {
  right: 0;
}
label {
  font-weight: 700;
  line-height: 24px;
}

button.disabled,
button.disabled:hover,
button.disabled:focus {
  border: 1px solid var(--gray-dark);
  color: rgba(0, 0, 0, 0.5);
  background-color: var(--gray);
}

button.primary {
  border: 1px solid var(--primary-dark);
  color: var(--text-on-dark);
  background-color: var(--primary);
}

button:focus {
  outline: 5px solid var(--primary-lighter);
}

button {
  padding: 10px;
  border-radius: 2px;
  letter-spacing: 0.66px;
}
button:hover {
  background-color: var(--primary-light);
  border-color: var(--primary);
}
